[req]
default_bits  = 2048
distinguished_name = req_distinguished_name
req_extensions = req_ext
x509_extensions = v3_req
prompt = no
default_md = sha256
[req_distinguished_name]
countryName = GR
stateOrProvinceName = ATHENS
localityName = N/A
organizationName = ORGANIZATION
commonName = <FQDN> (e.g. hostname.domain.com)
[req_ext]
subjectAltName = @alt_names
[v3_req]
subjectAltName = @alt_names
[alt_names]
IP.1 = xxx.xxx.xxx.xxx 
DNS.1 = <Hostname> (e.g. hostname)
